# WEB SCRAPING ASSIGNMENT 2

BATCH NO-DS0622
NEETU BAM
neetu.k.bam@gmail.com

# ANSWER NO-1

In [46]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\neetu\appdata\roaming\python\python39\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\neetu\appdata\roaming\python\python39\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\neetu\appdata\roaming\python\python39\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\neetu\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.0.4)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\neetu\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\neetu\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\neetu\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\neetu\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [7]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [8]:
#first connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\neetu\Downloads\chromedriver_win32\chromedriver.exe")

In [9]:
driver.get("https://www.naukri.com/")

In [11]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [13]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [14]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [15]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [17]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [18]:
#scraping job location
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [19]:
#scraping company name
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [20]:
#scraping job experience
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [21]:
#check the length
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [22]:
#Creating a Dataframe
df=pd.DataFrame({"Job_title":job_title,"Job_Location":job_location,"Company_Name":company_name,"Exp_required":experience_required})
df

,Job_title,Job_Location,Company_Name,Exp_required
0,Associate Healthcare Research and Data Analyst,Bangalore/Bengaluru,Clarivate,0-2 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
5,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
6,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
7,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
9,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs

# ANSWER NO-2

In [23]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [27]:
#connect to the webdriver
driver=webdriver.Chrome(r"chromedriver.exe")

In [28]:
driver.get("https://www.naukri.com/")

In [30]:
#enter job designation and location
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [31]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [32]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [33]:
job_title=[]
job_location=[]
company_name=[]

In [34]:
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [37]:
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [39]:
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [40]:
#creating DataFrame
df=pd.DataFrame({"Job_title":job_title,"Job_Location":job_location,"Company_Name":company_name})
df

,Job_title,Job_Location,Company_Name
0,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
1,Data Scientist,"New Delhi, Hyderabad/Secunderabad, Pune, Ahmed...",Tata Nexarc
2,Data Scientist,"Nagpur, Pune, Bangalore/Bengaluru",Tech Mahindra
3,Data Scientist / AI-ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.
4,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
5,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
6,Data Scientist,"Hybrid - Noida, Kolkata, Hyderabad/Secunderaba...",Mindtree
7,Data Scientist - II,"India, Bangalore/Bengaluru, Mumbai (All Areas)",Bizongo
8,Senior Data Scientist,"Mumbai, Bangalore/Bengaluru",Baker Hughes
9,Data Science - Engineering Manager,"New Delhi, Bangalore/Bengaluru",Paytm

# ANSWER NO-3

#scrape data for"Data scientist" ,job location:"Delhi/NCR",salary filter:"3-6"lakhs

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [49]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [50]:
driver.get("https://www.naukri.com/")

In [51]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [53]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Delhi/NCR")

In [54]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [55]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [56]:
#scrape job title
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [57]:
#scrape job location
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [58]:
#scrape company name
company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [59]:
#scrape job experience
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [60]:
#creating a DataFrame
df=pd.DataFrame({"Job_Title":job_title,"Job_location":job_location,"Company_name":company_name,"Exp_required":experience_required})
df

,Job_Title,Job_location,Company_name,Exp_required
0,Artificial Intelligence/Computer Vision Engine...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Vicara,1-3 Yrs
1,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
2,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
3,Data Scientist,Temp. WFH - Noida,NGI Ventures,1-5 Yrs
4,Opening For Jr. Data Scientist with Tatras Dat...,Delhi / NCR,Tatras Data Services,2-4 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Americana Restaurants (india),3-8 Yrs
7,URGENT: Data Scientist | Gurugram | 5 Days Wor...,Gurgaon/Gurugram,Digilytics,2-5 Yrs
8,Data Scientist | Boutique AI and data consulti...,"Noida, New Delhi, Gurgaon/Gurugram",unnati,2-7 Yrs
9,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs

# ANSWER NO-4

SCRAPE DATA FROM 100 SUNGLASSES ON FLIPKART

In [10]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [11]:
driver.get("https://www.flipkart.com/")

In [12]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sunglasses')

In [13]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [22]:
brand_name=[]
product_description=[]
price=[]

In [23]:
brand_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
for i in brand_name[0:40]:
    brand=i.text
    brand_name.append(brand)

In [24]:
product_description=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in product_description[0:40]:
    product=i.text
    product_description.append(product)

In [25]:
price=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
for i in price[0:40]:
    price.append(price)

In [26]:
#check the length
len(brand_name)

80

In [27]:
len(product_description)

80

In [28]:
len(price)

80

In [29]:
#FOR EXECUTE NEXT PAGE
brand=[]

In [32]:
start=0
end=2
for page in range(start,end):
    brand_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in brand_name[0:40]:
        brand_name.append(i.text)
    next_button=driver.find_element(By.XPATH,"//a[@class='_1LKTO3']")
    next_button.click()
    time.sleep(3)

# ANSWER NO-5

#scrape data from flipkart.com for i phone 11 phone

In [48]:
!pip install bs4

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\neetu\appdata\roaming\python\python39\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)

In [49]:
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)

In [78]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd

In [79]:
page=requests.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/")
page

In [80]:
soup=BeautifulSoup(page.content)
soup

<!DOCTYPE html>
<html>
<head>
<title>Online Shopping India Mobile, Cameras, Lifestyle &amp; more Online @ Flipkart.com</title>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width,minimum-scale=1,user-scalable=no" name="viewport"/>
<style type="text/css">
        html,
        body {
            font-family: Roboto, Arial, sans-serif;
            height: 100%;
            margin: 0;
        }

        .button {
            background-color: #2874f0;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
            cursor: pointer;
            font-size: 16px;
            margin-top: 25px;
            border-radius: 2px;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div style="background-color:#2874f0; height:78px; text-align:center;">
<div style="width: 100%; margin: 0 auto; padding-top: 2px; text-align:left;">
<div style="margin-top: 15px; text-align: center">
<img src="http://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/fk-logo_9fddff.png" style="border: none;" width="149"/>
</div>
</div>
</div>
<div style="text-align: center; font-size: 14px; padding: 20px;">
<div>
<img alt="" id="IMG_3" src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/error-500_f9bbb4.png" style="width: 450px; max-width: 100%;"/>
<div style="font-size: 1.3em; padding-top: 10px; margin-bottom: 35px">Unfortunately the page you are looking
                for has been moved or deleted</div>
<a class="button" href="/">GO TO HOMEPAGE</a>
</div>
</div>
</body>
</html>

In [83]:

rating=[]
review_summary=[]
full_review=[]
product=soup.find('div',attrs={'class':'_4rR01T'})

In [84]:
for a in soup.findAll('a',href=True,attrs={'class':'_1fQZEK'}):
    rating=a.find('div',attrs={'class':'_3LWZlK'})
    review_summary=a.find('div',attrs={'class':'_2-N8zT'})
    full_review=a.find('div',attrs={'class':'t-ZTKy'})
    rating.append(rating.text)
    review_summary.append(review_summary.text)
    full_review.append(full_review.text)

# Answer no-7

scrap data of laptop from amazon.in

In [86]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [87]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [88]:
driver.get("https://www.amazon.in/")

In [89]:
title=[]
rating=[]
price=[]

In [91]:
title_tags=driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in title_tags[0:10]:
    title=i.text
    title_tags.append(title)

In [93]:
rating_tags=driver.find_elements(By.XPATH,"//i[@class='a-icon a-icon-star-small a-star-small-4 aok-align-bottom']")
for i in rating_tags[0:10]:
    rating=i.text
    rating_tags.append(rating)

In [94]:
price_tags=driver.find_elements(By.XPATH,"/span[@class='a-price-whole']")
for i in price_tags[0:10]:
    price=i.text
    price_tags.append(price)

# ANSWER NO-8

# SCRAPE DATA FOR 1000 QUOTES

In [4]:
#import the libraries
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib.request

In [6]:
#create loist to store the scraped data
quotes=[]
authors=[]
type_of_quotes=[]

In [42]:
URL='https://www.azquotes.com/'
webpage=requests.get(URL)
soup=BeautifulSoup(webpage.text,'html.parser')
quoteText=soup.find_all('a',attrs={'class':'title'})

In [43]:
quoteText

[<a class="title" href="/quote/53034">We think too much and feel too little.</a>,
 <a class="title" href="/quote/249560">You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.</a>,
 <a class="title" href="/quote/298617">A man's character may be learned from the adjectives which he habitually uses in conversation.</a>,
 <a class="title" href="/quote/343888">You are the average of the five people you spend the most time with.</a>,
 <a class="title" href="/quote/348513">The miracle isn't that I finished. The miracle is that I had the courage to start.</a>,
 <a class="title" href="/quote/365890">Writing is not life, but I think that sometimes it can be a way back to life.</a>,
 <a class="title" href="/quote/518122">Define success on your own terms, achieve it by your own rules, and build a life you're proud to live.</a>,
 <a class="title" href="/quote/608021">Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.</a>,
 <a class="title" href="/quote/622805">I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard.</a>,
 <a class="title" href="/quote/762306">I stop wanting what I am looking for, looking for it.</a>]

In [44]:
for i in quoteText:
    print(i.text.strip().split('\n'))

['We think too much and feel too little.']
['You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.']
["A man's character may be learned from the adjectives which he habitually uses in conversation."]
['You are the average of the five people you spend the most time with.']
["The miracle isn't that I finished. The miracle is that I had the courage to start."]
['Writing is not life, but I think that sometimes it can be a way back to life.']
["Define success on your own terms, achieve it by your own rules, and build a life you're proud to live."]
['Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.']
["I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard."]
['I stop wanting what I am looking for, looking for it.']

In [45]:
def scrape_website(page_number):
    page_num=str(page_number)
    URL='https://www.azquotes.com/'+page_num
    webpage=requests.get(URL)
    soup=BeautifulSoup(webpage.text,'html.parser')
    quoteText=soup.find_all('a',attrs={'class':'title'})

In [62]:
for i in quoteText:
    quote=i.text.strip().split('\n')[0]
    author=i.find('a',attrs={'class':'/author/11790-Michael_Porter'})

    quotes.append(quote)
    authors.append(author)

In [47]:
scrape_website(1)

In [48]:
quotes

['We think too much and feel too little.',
 'You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.',
 "A man's character may be learned from the adjectives which he habitually uses in conversation.",
 'You are the average of the five people you spend the most time with.',
 "The miracle isn't that I finished. The miracle is that I had the courage to start.",
 'Writing is not life, but I think that sometimes it can be a way back to life.',
 "Define success on your own terms, achieve it by your own rules, and build a life you're proud to live.",
 'Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.',
 "I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard.",
 'I stop wanting what I am looking for, looking for it.',
 'We think too much and feel too little.',
 'You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.',
 "A man's character may be learned from the adjectives which he habitually uses in conversation.",
 'You are the average of the five people you spend the most time with.',
 "The miracle isn't that I finished. The miracle is that I had the courage to start.",
 'Writing is not life, but I think that sometimes it can be a way back to life.',
 "Define success on your own terms, achieve it by your own rules, and build a life you're proud to live.",
 'Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.',
 "I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard.",
 'I stop wanting what I am looking for, looking for it.',
 'We think too much and feel too little.',
 'You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.',
 "A man's character may be learned from the adjectives which he habitually uses in conversation.",
 'You are the average of the five people you spend the most time with.',
 "The miracle isn't that I finished. The miracle is that I had the courage to start.",
 'Writing is not life, but I think that sometimes it can be a way back to life.',
 "Define success on your own terms, achieve it by your own rules, and build a life you're proud to live.",
 'Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.',
 "I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard.",
 'I stop wanting what I am looking for, looking for it.',
 'We think too much and feel too little.',
 'You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.',
 "A man's character may be learned from the adjectives which he habitually uses in conversation.",
 'You are the average of the five people you spend the most time with.',
 "The miracle isn't that I finished. The miracle is that I had the courage to start.",
 'Writing is not life, but I think that sometimes it can be a way back to life.',
 "Define success on your own terms, achieve it by your own rules, and build a life you're proud to live.",
 'Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.',
 "I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard.",
 'I stop wanting what I am looking for, looking for it.',
 'We think too much and feel too little.',
 'You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.',
 "A man's character may be learned from the adjectives which he habitually uses in conversation.",
 'You are the average of the five people you spend the most time with.',
 "The miracle isn't that I finished. The miracle is that I had the courage to start.",
 'Writing is not life, but I think that sometimes it can be a way back to life.',
 "Define success on your own terms, achieve it by your own rules, and build a life you're proud to live.",
 'Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.',
 "I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard.",
 'I stop wanting what I am looking for, looking for it.',
 'We think too much and feel too little.',
 'You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.',
 "A man's character may be learned from the adjectives which he habitually uses in conversation.",
 'You are the average of the five people you spend the most time with.',
 "The miracle isn't that I finished. The miracle is that I had the courage to start.",
 'Writing is not life, but I think that sometimes it can be a way back to life.',
 "Define success on your own terms, achieve it by your own rules, and build a life you're proud to live.",
 'Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.',
 "I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard.",
 'I stop wanting what I am looking for, looking for it.',
 'We think too much and feel too little.',
 'You must take personal responsibility. You cannot change the circumstances, the seasons, or the wind, but you can change yourself. That is something you have charge of.',
 "A man's character may be learned from the adjectives which he habitually uses in conversation.",
 'You are the average of the five people you spend the most time with.',
 "The miracle isn't that I finished. The miracle is that I had the courage to start.",
 'Writing is not life, but I think that sometimes it can be a way back to life.',
 "Define success on your own terms, achieve it by your own rules, and build a life you're proud to live.",
 'Earthly riches are like the reed. Its roots are sunk in the swamp, and its exterior is fair to behold; but inside it is hollow. If a man leans on such a reed, it will snap off and pierce his soul.',
 "I actually feel that women in my position, when we have all at our disposal to help us, shouldn't complain when we consider all of the people who are really struggling, who don't have the financial means, who don't have the support, and so many people are single raising children - that's hard.",
 'I stop wanting what I am looking for, looking for it.']

# ANSWER NO-9

In [18]:
#SCRAPE DATA OF PRIME MINISTER OF INDIA
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [35]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
import urllib.request

In [36]:
page=requests.get('https://www.jagranjosh.com/')
page

In [29]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [30]:
driver.get("https://www.jagranjosh.com/")

In [37]:
name=[]
born_dead=[]
term_of_office=[]
remarks=[]

In [43]:
URL='https://www.jagranjosh.com/'
webpage=requests.get(URL)
soup=BeautifulSoup(webpage.text,'html.parser')
name=soup.find_all('a',attrs={'class':'_blank'})

In [45]:
URL='https://www.jagranjosh.com/'
webpage=requests.get(URL)
soup=BeautifulSoup(webpage.text,'html.parser')
born_dead=soup.find_all('p',attrs={'class':'(18891964)'})

In [47]:
URL='https://www.jagranjosh.com/'
webpage=requests.get(URL)
soup=BeautifulSoup(webpage.text,'html.parser')
term_of_office=soup.find_all('span',attrs={'class':'15 August 1947 to 27 May 1964'})

In [48]:
URL='https://www.jagranjosh.com/'
webpage=requests.get(URL)
soup=BeautifulSoup(webpage.text,'html.parser')
remarks=soup.find_all('p',attrs={'class':'<p>'})